<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.share.mapper.ext.ExtFansMapper">
  <resultMap id="ExtBaseResultMap" extends="com.le.share.mapper.FollowMapper.BaseResultMap"
             type="com.le.share.model.FansDetail">
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, fans_user_id, create_time
  </sql>
  <select id="selectOne" resultMap="ExtBaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_fans
    where fans_user_id = #{fansUserId,jdbcType=BIGINT} and user_id = #{userId,jdbcType=BIGINT} and status = 0
  </select>

  <select id="selectList" resultType="com.le.share.model.FansDetail">
    SELECT f.id, f.fans_user_id fansUserId, f.user_id userId, f.create_time createTime,
      u.nick_name fansNickName, u.avatar_url fansAvatarUrl
    FROM t_fans f LEFT JOIN t_user u ON f.fans_user_id = u.id
    WHERE f.status = 0 and user_id = #{userId,jdbcType=BIGINT}
    ORDER BY f.create_time DESC
    LIMIT #{offset}, #{limit}
  </select>

</mapper>